
/* Modal Styles */
.modalHeader {
    border-bottom: 2px solid gray;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}

.modalBody {
    padding-right: .75rem;
}

.toDoModalDescription {
    margin: 0.25rem 0;
}

/* Task Card Styles */
.toDoListContainer {
    width: 100%;
    box-sizing: border-box;
}

.toDoList {
    min-width: calc(100% - 1rem);
    height: 15.625rem;
    border: 1px dashed #ccc;
    justify-content: left;
    width: fit-content;
    padding-right: 0.5rem;
}

.taskCardItem {
    align-items: left;
    width: 10rem;
    height: 10rem;
    padding-bottom: 1.5rem;
}

.taskCardItem h1{
    margin: 0;
}

.dueDatePast {
    margin-bottom: 0;
    color: red;
}

.dueDateFuture {
    margin-bottom: 0;
    color: inherit;
}