/*Holds the CSS for the StudentCard component*/
.student-card-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 16px;
}

/*
.student-card-border {
    border: 1px solid #000;
}
*/

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
